@CHARSET "UTF-8";
html{
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#fff;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
	}
body{
	margin:0px; 
	height:800px; 
	background-color: #34302d;
	
}
.login-page{
	background-color:#6db33f
}